@font-face {
	font-family: 'Gothic'; /* Имя шрифта */
	src: url(fonts/gothic.ttf); /* Путь к файлу со шрифтом */
}

body {
	font-family: 'Calibri';
	margin: auto;
	text-align: center;
}

h1 {
	font-family: 'Gothic';
}
h2 {
	font-family: 'Gothic';
}
h3 {
	font-family: 'Gothic';
}
table {
    margin: auto;
	width: 800px;
    border: 1px solid black;
}
td {
    width: 300px;
    height: 300px;
    border: 1px dashed blue;
}
div {
	background-color: #808080; /* gray from favicon */
	height:	100px;
	width: 100px;
	margin: auto;
	text-align: center;
}
table {
	margin: auto;
	border: 1px solid black;
}
td {
	width: 50px;
	height: 50px;
	border : 1px dashed blue;
}
a {
	text-decoration: none;
}
p {
	font-size: 1.5em;
}
span {
	font-family: 'Gothic';
}
.letter {
	color: blue;
	font-size: 200%; /* Размер шрифта в процентах */ 
	font-family: serif; /* Шрифт с засечками */ 
	position: relative; /* Относительное позиционирование */ 
	top: 5px; /* Сдвиг сверху */ 
}
/* Цвета codeacademy */
.maroon {
	color: #8B1C62; /* maroon */
}
.coral {
	color: #FF7256; /* coral */
}
.goldenrod {
	color: #FFC125;
}
.sea_green {
	color: #54FF9F;
}
.royal_blue {
	color: #530EE8;
}
.plum {
	color: #8B668B;
}
/* Цвета в иконке */
.orange {
	color: #FF6A00;
}
.brown {
	color: #7F3300;
}
.gray1 {
	color: #404040;
}
.gray2 {
	color: #808080;
}
/* Конец цветов */
